#outputDiv {
    display: flex;
    overflow: auto;
    border: 1px solid rgb(225, 225, 225); 
    height: 150px; 
    align-content: center;
    justify-content: center;
    margin-bottom: 10%;
    border-radius: 5px;
    flex-direction: column;
}

.main-container {
    margin: 0 auto;
    margin-top: 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary {
    width: 30%;
    margin: 2px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(110, 20, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
    justify-content: space-around;
    display: flex;
    font-size: 15px;
}

#numDisplayP {
    font-size: 25px;
}

#outputP {
    font-size: 35px;
}

p {
    color:rgb(225, 225, 225);
    text-align: center;
    word-wrap: break-word;

    
}

#copyrightDiv {
    color: rgb(225, 225, 225);
    text-align: center;
    margin-top: 5%;
}